@import url("https://fonts.googleapis.com/css2?family=Nabla&display=swap");
.city-name {
  border: 1px solid black;
  transition: 0.3s;
  color: rgb(69, 67, 67);
  border-radius: 20px;
  padding: 4px 17px 4px 18px;
}

.nabla-logo-font {
  font-family: "Nabla", system-ui;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "EDPT" 100, "EHLT" 12;
  padding: 5px 22px 5px 24px;
  border-radius: 30px;
}

