.modal {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: 60;
  animation: slideDown 0.5s ease forwards;
  opacity: 0;
  transform: translateY(-50%);
}

@keyframes slideDown {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

@keyframes slideUp {
  0% {
    opacity: 1;
    transform: translateY(0%);
  }
  100% {
    opacity: 0;
    transform: translateY(-100%);
  }
}

.box {
  width: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}





.city_input {
  border: 1px solid gray;
  height: 50px;
  width: 35rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 10px;
  /* padding-top: 14px; */
  position: relative;
}

.city_input img {
  width: 22px;
}

.city_input input {
  border: 0;
  outline: none;
  margin-left: 5px;
  flex: 1;
  font-size: 16px;
  color: black;
}

.city_input input::placeholder {
  font-size: 17px;
}

.city_input button {
  /* height: 100%; */
  border: 0;
  padding: 16px 5px;
}

.top_cities {
  margin: 1rem 0;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  row-gap: 10px;
  place-items: center;
}

.top_cities a {
  border: 1px solid gray;
  padding: 10px 20px;
  border-radius: 30px;
  font-size: 16.4px;
  font-weight: 400;
  color: rgb(54, 54, 54);
  cursor: pointer;
  text-decoration: none;
}

.top_cities a:hover {
  color: black;
  border-color: black;
}

.app_logo {
  width: 15rem;
  margin-top: 2rem;
}

.app_logo img {
  width: 100%;
}

.esc_btn {
  z-index: 40;
  position: absolute;
  top: 3rem;
  right: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: transparent;
  border: 0;
}

.esc_btn {
  font-size: 15px;
}

.hidden {
  top: -100%;
  background: none;
}

.city_suggestions {
  position: absolute;
  width: 18rem;
  max-height: 15rem;
  /* height: 18rem; */
  background-color: white;
  top: 3.1rem;
  left: 0;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  border-radius: 4px 0 0 4px;
}

.city_suggestions a {
  width: 100%;
  border: 1px solid #333;
  padding: 10px 20px;
  width: 100%;
  padding: 14px 35px;
  border: 1px solid #e0e0e0;
  border-top: none;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  color: rgba(79, 79, 79, 0.74);
}

.city_suggestions::-webkit-scrollbar {
  width: 3px;
  border-radius: 5px;
}
.city_suggestions::-webkit-scrollbar-thumb {
  background-color: gray;
  /* display: none; */
}
.city_suggestions::-webkit-scrollbar-corner {
  display: none;
}

@media screen and (max-width: 1200px) {
  .top_cities {
    grid-template-columns: repeat(7, 1fr);
  }
}

@media screen and (max-width: 750px) {
  .top_cities {
    grid-template-columns: repeat(4, 1fr);
  }

  .esc_btn {
    top: 1rem;
    right: 1rem;
  }
}

@media screen and (max-width: 500px) {
  .box {
    padding: 1rem;
  }
  .top_cities {
    grid-template-columns: repeat(3, 1fr);
  }

  .city_input {
    width: auto;
  }

  .city_input button {
    padding: 18px 4px;
    font-size: 12px;
    font-family: "Times New Roman", Times, serif;
  }
}
